<h3>Update User</h3>
<div style="width: 400px">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        required
        [(ngModel)]="user.username"
        name="username"
      />
    </div>

    <div class="form-group">
      <label for="name">password</label>
      <input
        type="text"
        class="form-control"
        id="password"
        required
        [(ngModel)]="user.password"
        name="password"
      />
    </div>

    <div class="form-group">
      <label for="name">email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        required
        [(ngModel)]="user.email"
        name="email"
      />
    </div>

    <!--<div class="form-group">
      <label for="name">role</label>
      <input type="text" class="form-control" id="role" required [(ngModel)]="user.role" name="role">
    </div> -->

    <div class="form-group">
      <label for="role">Select Role:</label>
      <select
        class="form-control"
        id="role"
        required
        [(ngModel)]="user.role"
        name="role"
      >
        <option>Admin</option>
        <option>Manager</option>
        <option>User</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
